body{
  background: no-repeat  url("Fondo.jpg");
  background-size: cover;
  font-family: Candara;
  color: white;
  display: flex;
}
.transparente {
  background-color:rgba(0, 0, 0, 0.76);
  width: 370px;
  height: 210px;
  color: white;
}
